{% extends 'examcell/base.html' %}
{% block body %}
    {% load staticfiles %}
    {% load index %}
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="{% url 'examcell:admin' %}">Home</a></li>
        <li>Hall Ticket Generation </li>
        <li class="active">Class</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Student Hall Ticket Generation <small> All Student will receive their hall ticket on theri account </small></h1>
    <!-- end page-header -->
    <div class="col-md-8 col-md-offset-2">
        <!-- begin panel -->
        {% if hall  %}
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title"> Semester {{ sem }}</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <th>Seat no</th>
                        <th>Studid</th>
                        <th>Name</th>

                        </thead>
                        <tbody>
                        {% for h in hall %}
                            <tr>
                                <td>{{ h.seatno }}</td>
                                <td>{{ h.sid.sid}}</td>
                                <td>{{ h.sid.s_fname }} {{ h.sid.s_mname }} {{ h.sid.s_lname }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3" for="fullname"></label>
                        <div class="col-md-6 col-sm-6">
                            <a href="{% url 'examcell:hallgen' %}"  class="btn btn-primary m-r-5" >CLOSE</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        {% else %}
            <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title"> Semester {{ sem }}</h4>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" action="."  method="POST" id="myform">{% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3" for="message">Branch :</label>
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control" name="dname">
                                {% for d in dept %}
                                    <option value="{{d.dname}}">{{d.dname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3" for="fullname">Semsiter :</label>
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control" name="sem">
                                {% for d in "12345678"%}
                                    <option value="{{ d }}" >{{d}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3" for="fullname"></label>
                        <div class="col-md-6 col-sm-6">
                            <input type="submit" class="btn btn-primary m-r-5" value="Submit"/>
                        </div>
                    </div>
                    {% comment %}<textarea class="ckeditor" id="editor1" name="editor1" rows="20">&lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href="http://ckeditor.com/"&gt;CKEditor&lt;/a&gt;.&lt;/p&gt;</textarea>{% endcomment %}
                </form>
            </div>
        {% endif %}
        </div>
{% endblock %}